.navbar {
    background-color: #1f1410 !important;
}
.navbar-toggler {
    border-color: #d08b35;
    color: #d08b35 !important;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link {
    color: #fcf2d9;
    font-weight: bold;
    margin-right: 10px;
}

.nav-item.dropdown:hover > .nav-link {
    color: #d08b35;
}

.nav-link:hover, .nav-link:focus {
    color: #d08b35 !important;
}

.dropdown-menu {
    background-color: #1f1410;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid 3px #d08b35;
    border-radius: 0;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #fcf2d9;
    color: #1f1410;
}

.dropdown-item {
    color: #fcf2d9;
    font-weight: bold;
}