/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* FONT */

@font-face {
  font-family: 'Open Sans';
  src: url('/public/assets/font/OpenSans-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/public/assets/font/OpenSans-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/public/assets/font/PlayfairDisplay-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/public/assets/font/PlayfairDisplay-Regular.ttf') format("truetype");
  font-weight: 400;
}


/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* CSS GENERAL */

html,
body {
  font-family: "Open Sans", "arial", sans-serif;
}

body {
  background-color: #fcf2d9;
  color: #1f1410;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  color: #99491c;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

h5 {
  font-size: 18px;
}

p {
  text-align: justify;
  margin-bottom: 10px;
}

p span {
  font-weight: bold;
}


/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* Sections */

section {
  padding: 100px 0;
}

.section-white {
  background-color: white;
}

.section-h2 {
  padding-bottom: 50px;
  color: #99491c;
}

.section-container .section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-container .section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-img img {
  max-width: 100%;
  height: auto;
}