button {
  background-color: #d08b35;
  color: #fcf2d9;
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #1f1410;
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {}