.card {
    border: none;
    margin: 20px 0;
    padding-bottom: 20px;
  }
  
  .card-body {
    background-color: #fcf2d9;
    border-radius: 0;
  }
  
  .card-img-top {
    width: 100%;
    height: 250px;
    transition: transform 0.5s ease;
    transform-origin: center;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 0;
  }
  
  .container-card-img:hover .card-img-top {
    transform: scale(1.3);
  }
  
  .container-card-img:hover .overlay {
    background-color: rgba(252, 242, 217, 0);
    transform: scale(1 / 1.3);
  }
  
  .container-card-img {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 242, 217, 0.6);
    cursor: pointer;
  }
  
  .overlay-add {
    font-size: 50px;
    color: #1f1410;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .overlay-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #1f1410;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .overlay-heart:hover {
    color: #d08b35;
    transform: scale(1.3);
  }
  
  .container-card-img:hover .overlay-add {
    color: #d08b35;
    transform: scale(1.3);
  }